<table class="guest-requests table table-condensed">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Public ID</th>
      <th>Path</th>
      <th>Session Requests</th>
    </tr>
  </thead>

  <tbody>
    {% if not guest_requests: %}
    <tr>
      <td class="text-center" colspan="4">No predictions found.</td>
    </tr>
    {% else: %}
      {% for guest_request in guest_requests: %}
    <tr id='guest-request-{{ guest_request.public_id }}'
        class='unclickable'
        data-href='/guest_requests/{{guest_request.public_id}}/'>
      <td class="datetime momentize"
          data-datetime="{{at(guest_request.created_at)}}"
          title="{{at(guest_request.created_at)}}">
        {{ at(guest_request.created_at) }}
      </td>
      <td class="public-id">
        {{ guest_request.guest.public_id }}
      </td>
      <td class="path">
        {{ guest_request.path }}
      </td>
      <td class="session-counter">
        {{ guest_request.session_counter }}
      </td>
    </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
